{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "node_modules",
    "dist",
    "ormconfig.js",
    "scripts"
  ],
  "plugins": [
    "import",
    "unused-imports",
    "import-path"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-empty-function": [
      "error",
      {
        "allow": [
          "arrowFunctions"
        ]
      }
    ],
    "import/no-duplicates": "error",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off"
  }
}
